/*
body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}
*/

/*Set default font family of all elements*/

* {
  font-family: 'Roboto', sans-serif;
}


html {
  scroll-behavior: smooth;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #007bff;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 250px;
  height: 250px;
}

.jumbotron {
  background-color: transparent;
}

.tools {
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  margin: 20px;
  width: 75%;
  color: white;
  border-radius: 6px;
}


#landing {
  height: 80vh;
  /*center the elements vertically*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gallery {
  /*75% of available height of a device*/
  height: 75vh;
   /*center the elements vertically*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

